<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>@ViewBag.Title</title>
@*    @Styles.Render("~/Content/themes/css")
    @Styles.Render("~/Content/themes/default/css")
    <script src="@Url.Content("~/Scripts/EasyUi/jquery.min.js")" type="text/javascript"></script>
    <script src="@Url.Content("~/Scripts/EasyUi/jquery.easyui.min.js")" type="text/javascript"></script>
    <script src="@Url.Content("~/Scripts/EasyUi/locale/easyui-lang-zh_CN.js")" type="text/javascript"></script>*@
</head>
<body>
    <div id="detailView">
        @RenderBody()
    </div>
    <script type="text/javascript">
        $(function () {
            $("#detailView").dialog({
                title: '详细信息',
                iconCls: 'icon-edit',
                toolbar: [{
                    iconCls: 'icon-add',
                    text:'新增',
                    handler: function () { alert('new') }
                }, {
                    iconCls: 'icon-edit',
                    text: '更新',
                    handler: function () { alert('edit') }
                }, {
                    iconCls: 'icon-remove',
                    text: 'remove',
                    handler: function () { alert('remove') }
                }]
            }).dialog('open');
        });
    </script>
</body>
</html>
