<!DOCTYPE html>
<html>
<head>
    <title>Main</title>
    @Styles.Render("~/Content/css")
    @Styles.Render("~/Content/themes/default/css")
    <script src="@Url.Content("~/Scripts/EasyUi/jquery.min.js")" type="text/javascript"></script>
    <script src="@Url.Content("~/Scripts/EasyUi/jquery.easyui.min.js")" type="text/javascript"></script>
</head>
<body class="easyui-layout">
    <div style="padding:2px" data-options="region:'center',border:false">
        @RenderBody()
    </div>
</body>
</html>
